<!DOCTYPE html>
<html lang = "en-US">
   <head>
     <meta charset = "UTF-8">
     <title>Weddington Way</title>
     <link rel = "stylesheet" type = "text/css" href = "stylesheet.scss" />
   </head>
   <body>
     <%= render partial: 'shared/header' %>

     <div class="container">
       <div class='shipping-info'>
         <p>Free US shipping over $150*</p>
      </div>

      <div class="menu">
        <ul class="nav nav-tabs">
          <li><a href="#">BRIDESMAIDS</a></li>
          <li><a href="#">BRIDES</a></li>
          <li><a href="#">WEDDING PARTY</a></li>
          <li><a href="#">RENTALS</a></li>
          <li><a href="#">REAL WEDDINGS</a></li>
          <li id='float_right'><span><a href="#">Create Showroom</a></span></li>
        </ul>
      </div>

      <div class='shop-exclusive-collection col-md-12'>
        <div>
          <h1>Designed by us. Inspired by you.</h1>
          <p>We designed 25 dresses that break the mold in breidesmaid fit, style and comfort.</p>
          <button class='btn btn-primary'>SHOP OUR EXCLUSIVE COLLECTION</button>
        </div>
      </div>

      <div class="product-ease">
        <ul class="nav nav-tabs col-md-12">
          <li class='col-md-4'>
            <div>
              <h3>A PERFECT MATCH</h3>
              <h5>for every maid.</h5>
            </div>
          </li>
          <li class='col-md-4'>
            <div>
              <h3>EASY RETURNS</h3>
              <h5>to find you fit.</h5>
            </div>
          </li>
          <li class='col-md-4'>
            <div>
              <h3>SOMETHING NEW</h3>
              <h5>and exclusive for you!</h5>
            </div>
          </li>
        </ul>
      </div>

      <div class="dresses_preview col-md-12">
        <div class="glyphicon glyphicon-menu-left col-md-1"></div>
        <div class="dresses_preview_dresses dresses_1 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_2 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_3 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_4 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_5 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_6 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_7 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_8 col-md-1"></div>
        <div class="dresses_preview_dresses dresses_9 col-md-1"></div>
        <div class="glyphicon glyphicon-menu-right col-md-1"></div>
      </div>

     </div>

   </body>
</html>
